@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

// .modal-content {
//     height: 30vh;
//     min-height: 600px;
//     justify-content: center;
// }

.modal-body {
    display: flex;
    flex-direction: row;
    width: 100%
}

.form-component {

    &__form {
        @include desktop {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__receipt {
        @include desktop {
            width: 50%;
        }
    }

    &__img {
        @include desktop {
            display: flex;
            flex-direction: row;
            width: 90%;
            border-radius: 5px;
        }
    }

    &__text {
        @include desktop {
            width: 80%;
            height: 300px;
            overflow-y: auto;
            overflow-x: auto;
            border: solid 1px black;
            border-radius: 5px;
        }
    }
}

.react-datepicker-ignore-onclickoutside {
    border-radius: 5px;
}