// colors
$primary-dark: #13182C;
$primary-light: #FFFFFF;
$primary-background: #EAEEF1; // white
$nav: #B2BBBE; // slate
$nav-active: #158BB8;
$hover: #813c85;
$outlayer: rgb(249, 207, 214);
$outlayer: rgb(241, 133, 241);



$secondary-light: #a2aab9; // cloud


// phone sizing
$phone-section-padding: 0rem 1rem 0;

//desktop sizing
$desktop-breakpoint: 400px;
$desktop-section-padding: 0 auto;


$primary-accent: #2E66E5; // instock-indigo
$secondary-dark: #5C667E; // slate
$background-dark: #232940; // graphite
$background-light: #F7F8F9; // light-grey
$supporting-primary: #158463; // green
$supporting-secondary: #C94515; // red