// colors
$primary-dark: #13182C; // instock-black
$primary-accent: #2E66E5; // instock-indigo
$primary-light: #FFFFFF; // white
$nav: #3a3a55; // slate
$nav-active: #29293b;

$secondary-light: #BDC5D5; // cloud


// phone sizing
$phone-section-padding: 0rem 1rem 0;

//desktop sizing
$desktop-breakpoint: 1280px;
$desktop-section-padding: 0 auto;