// colors
$primary-dark: #13182C;
$primary-light: #FFFFFF;
$primary-background: #EAEEF1; // white
$nav: #B2BBBE; // slate
$nav-active: #158BB8;
$hover: #813c85;


$secondary-light: #BDC5D5; // cloud


// phone sizing
$phone-section-padding: 0rem 1rem 0;

//desktop sizing
$desktop-breakpoint: 400px;
$desktop-section-padding: 0 auto;