@use '../../styles/partials/mixins' as *;

.avatar {
    vertical-align: middle;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;

    @include desktop {
        width: 80px;
        height: 80px;

    }

    &-logo {
        @include desktop {
            margin-bottom: 1rem;
            width: 100px;
            height: 100px;
            margin: 0.5rem;

        }
    }
}