@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.home {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100%;

    @include desktop {
        flex-direction: row;
        min-height: 600px;
    }

    &__wrapper {
        height: 85%;

        @include desktop {
            background-image: linear-gradient(to bottom right, #8ABCD1, #A59ACA);
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }

    }

    &__body {

        @include desktop {
            height: 95%;
            width: 98%;
            // background-color: $primary-background;
            background-image: linear-gradient(to bottom right, rgb(249, 207, 214), rgb(219, 148, 219));
            border-radius: 50px;
            padding: 1.5rem 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__mid {

        @include desktop {
            width: 75%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    &__item {
        &-wrapper {
            width: 50%;
        }

        &-list {
            display: flex;
            flex-direction: column;
        }

        &-content {
            @include desktop {
                display: flex;
                flex-direction: row;
                padding-bottom: 1rem;
                height: 100%;
                padding: 1rem;
            }
        }

        &-img {
            @include desktop {
                width: 40px;
                height: 40px;
                margin: auto 1rem;
            }
        }

        &-subtext {
            @include desktop {
                font-size: 0.8125rem;
                color: $secondary-light
            }
        }

        &-text-amount {
            width: 40%;
            text-align: end;
            line-height: 50px;
        }
    }

    &__left {

        @include desktop {
            width: 20%;
            height: 100%;
            background-color: $primary-light;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-data {
            @include desktop {
                height: 50%;
                padding: 1rem;
            }

            &-conent {
                @include desktop {
                    padding: 1rem;
                }
            }

            &-text {
                @include desktop {
                    padding: 0.5rem 0rem;
                }
            }
        }

        &-month {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__tips {
        @include desktop {
            height: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }

        &-img {
            @include desktop {
                width: 250px;
                height: 300px;
                object-fit: contain;
                margin: 2rem 0rem;
            }

        }
    }

    &__expense {

        @include desktop {
            width: 100%;
            height: 50%;
            background-color: $primary-light;
            border-radius: 20px;
            padding: 1rem;
            overflow: scroll;
        }

        &-header {

            @include desktop {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-between;
                padding: 1rem;
                height: 100%;

            }
        }

        // &-nav {}

        &-wrapper {
            height: 30%;
            width: 100%;

            &-title {
                display: flex;
                flex-direction: row;
                padding-left: 1rem;
                border-bottom: solid $secondary-light;
                justify-content: space-between;
                padding-bottom: 0.5rem;
            }
        }

        &-title {

            @include desktop {}
        }

        &-btn {

            @include desktop {}
        }
    }

    &__wrapper-data {
        @include desktop {
            width: 100%;
            height: 35%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__data {

        @include desktop {
            background-color: $primary-light;
            border-radius: 20px;
        }
    }

    &__data1 {
        @include desktop {
            width: 60%;
            height: 100%;
        }
    }

    &__data2 {
        @include desktop {
            width: 35%;
            height: 100%;
        }
    }
}