@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.home {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100%;

    @include desktop {
        flex-direction: row;
        min-height: 600px;
    }

    &__wrapper {
        height: 85%;

        @include desktop {
            background-color: $nav;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }

    }

    &__body {

        @include desktop {
            height: 95%;
            width: 98%;
            background-color: $primary-background;
            border-radius: 50px;
            padding: 2.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__mid {

        @include desktop {
            width: 75%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    &__left {

        @include desktop {
            width: 20%;
            height: 100%;
            background-color: $primary-light;
            border-radius: 15px;
        }
    }

    &__expense {

        @include desktop {
            width: 100%;
            height: 30%;
            background-color: $primary-light;
            border-radius: 20px;
            padding: 1rem;
        }

        &-header {

            @include desktop {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;

            }
        }

        &-title {

            @include desktop {
                padding-left: 1rem;
            }
        }

        &-btn {

            @include desktop {}
        }
    }

    &__wrapper-data {
        @include desktop {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__data {

        @include desktop {
            background-color: $primary-light;
            border-radius: 20px;
        }
    }

    &__data1 {
        @include desktop {
            width: 60%;
            height: 100%;
        }
    }

    &__data2 {
        @include desktop {
            width: 35%;
            height: 100%;
        }
    }
}